<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./partials/head.html')
</head>

<body class="no-js">
    @@include('./partials/animation.html')
    <header>
        @@include('./partials/header.html')
    </header>
    <!-- Site content -->
    <main role="main">
        <section class="sect-page-title d-flex align-items-center">
            <div class="container">
                <h1 class="display-4 text-white font-weight-bold py-7">Why iPrime</h1>
            </div>
        </section>
        <section class="sect-breadcrumbs bg-dark">
            <div class="container mb-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent px-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Why Iprime</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </section>
        <section class="sect-content mt-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="sidebar col-12 col-lg-3 order-1 order-lg-0 mt-5 mt-lg-0">
                            <div class="nav flex-column nav-pills page-nav bg-gray-light" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link py-3 active" id="v-pills-home-tab" href="#">Home</a>
                                <a class="nav-link py-3" id="v-pills-profile-tab" href="#">Profile</a>
                                <a class="nav-link py-3" id="v-pills-messages-tab" href="#">Messages</a>
                                <a class="nav-link py-3" id="v-pills-settings-tab" href="#">Settings</a>
                            </div>
                            <section class="sect-sidebar-form">
                                <div class="card mt-5 shadow-none bg-gray-light">
                                    <div class="card-body">
                                        <strong class="text-dark">Enter your information here</strong>
                                        <p class="mt-2">Forex, Commodities & CFDs trading on Stocks, Indices, Energy and Precious Metals by iPrime.</p>
                                        <form action="#" method="POST">
                                            <div class="form-group">
                                                <label class="text-muted" for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-muted" for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-muted" for="phoneNumber">Phone Number</label>
                                                <input type="text" class="form-control" id="phoneNumber">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-muted" for="email">Email Address</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="w-100 text-center mt-4 mb-1">
                                                <button class="btn btn-primary text-uppercase px-4">
                                                    Registration
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h2 class="font-weight-bold">About iPrime</h2>
                        <p class="mt-4">iPrime is a next generation brokerage company. Our team has more than a decade of experience providing Forex
                            brokerage services and proprietary trading. Our instruments include Forex, Precious Metals, Commodities, Indices
                            and Futures.<br><br>
                            Proprietary trading requires top-edge technologies. iPrime developed proprietary ECN platform to automatically
                            route orders between multiple tier-1 liquidity providers. Nowadays what we developed for ourselves is available for
                            retail traders. Technical team automatically monitors the execution speed and available liquidity. Our liquidity is one
                            of the best in the market. Make sure even large orders will be filled in millisecond time<br><br>
                            iPrime supports only "market execution" mode, the priority is fastest execution without re-quotes. There could be
                            slippage involved when final execution price differs from original order price, but we always forward full positive
                            (price benefit) and negative slippage back to our clients. ECN system does not restrict pending orders so you can
                            place limit and take profit orders within the spread and scalp the market.
                        </p>
                        <h5 class="mt-4">Open your account with iPrime today and benefit from: </h5>
                        
                        <div class="row no-gutters mb-3 mt-4">
                            <div class="col-1 mr-2 d-flex pt-2">
                                <span class="border border-primary circle-icon-outline circle-icon-small text-primary">1</span>
                            </div>
                            <div class="col-10">
                                <p class="text-muted">
                                    MetaTrader 4 trading platform for PC, iPhone, iPad and Android allow you to trade and monitor
                                    positions
                                    anywhere in the world.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters mb-3">
                            <div class="col-1 mr-2 d-flex pt-2">
                                <span class="border border-primary circle-icon-outline circle-icon-small text-primary">2</span>
                            </div>
                            <div class="col-10">
                                <p class="text-muted">
                                    Automate your ideas into trading robot and run as Expert Advisor (EA) or follow third-party signals.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters mb-3">
                            <div class="col-1 mr-2 d-flex pt-2">
                                <span class="border border-primary circle-icon-outline circle-icon-small text-primary">3</span>
                            </div>
                            <div class="col-10">
                                <p class="text-muted">
                                    Proprietary iPrime mobile application integrates online trading functionality with My Prime client
                                    portal.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters mb-3">
                            <div class="col-1 mr-2 d-flex pt-2">
                                <span class="border border-primary circle-icon-outline circle-icon-small text-primary">4</span>
                            </div>
                            <div class="col-10">
                                <p class="text-muted">
                                    FIX protocol is an industry standard for exchanging financial information and executing orders.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters mb-3">
                            <div class="col-1 mr-2 d-flex pt-2">
                                <span class="border border-primary circle-icon-outline circle-icon-small text-primary">5</span>
                            </div>
                            <div class="col-10">
                                <p class="text-muted">
                                    Collocate your trading strategy within our LD4 datacenter to ensure stability and achieve exceptional
                                    speed suitable for HFT clients.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>  
    <!-- Site footer -->
    <footer class="bg-dark text-white pt-5">
      @@include('./partials/footer.html')
    </footer>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 3rd party dependecies -->
    <script src="/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/libs/slick-carousel/slick/slick.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Custom JS -->
    @@include('./partials/config.html')
    
    <script>
      $(document).ready(function() {
          $("body").addClass('loaded')
      })
    </script>
</body>

</html>